[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "hugo-techdoc/themes/hugo-theme-techdoc"]
	path = hugo-techdoc/themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
